<mat-card *ngIf="info && infoService.isValid(info) else error">
  <mat-card-title>{{info?.title}}</mat-card-title>
  <mat-card-subtitle>{{info?.version}}</mat-card-subtitle>

  <mat-card-content class="mat-typography">
    <mat-chip-list></mat-chip-list>
    <mat-tab-group dynamicHeight>
      <mat-tab *ngIf="info?.description" label="Description">
        <p class="spacer mat-h3">{{info?.description}}</p>
      </mat-tab>
      <mat-tab *ngIf="info?.termsOfService" label="Terms Of Service">
        <p class="spacer"><mat-chip>Terms of Service</mat-chip>&nbsp;{{info?.termsOfService}}</p>
      </mat-tab>
      <mat-tab *ngIf="info?.contact?.email" label="Contact">
        <mat-list>
          <mat-list-item *ngIf="info?.contact?.email"><mat-chip>Email</mat-chip>&nbsp;{{info?.contact?.email}}</mat-list-item>
          <mat-list-item *ngIf="info?.contact?.name"><mat-chip>Name</mat-chip>&nbsp;{{info?.contact?.name}}</mat-list-item>
          <mat-list-item *ngIf="info?.contact?.url"><mat-chip>Url</mat-chip>&nbsp;{{info?.contact?.url}}</mat-list-item>
        </mat-list>

      </mat-tab>
      <mat-tab *ngIf="info?.license?.name" label="License">
        <mat-list>
          <mat-list-item *ngIf="info?.license?.name"><mat-chip>Name</mat-chip>&nbsp;{{info?.license?.name}}</mat-list-item>
          <mat-list-item *ngIf="info?.license?.url"><mat-chip>Url</mat-chip>&nbsp;{{info?.license?.url}}</mat-list-item>
        </mat-list>
      </mat-tab>

      <mat-tab *ngIf="externalDocs?.url" label="External Docs">
        <mat-list>
          <mat-list-item *ngIf="externalDocs?.url"><mat-chip>Url</mat-chip>&nbsp;{{externalDocs?.url}}</mat-list-item>
          <mat-list-item *ngIf="externalDocs?.description"><mat-chip>Description</mat-chip>&nbsp;{{externalDocs?.description}}</mat-list-item>
        </mat-list>
      </mat-tab>

      <mat-tab *ngIf="servers" label="Servers">
        <mat-list>
          <mat-list-item *ngFor="let server of servers"><mat-chip>Url</mat-chip>&nbsp;{{server?.url}}</mat-list-item>
        </mat-list>
      </mat-tab>

      <mat-tab *ngIf="tags" label="Tags">
        <mat-list>
          <mat-list-item *ngFor="let tag of tags"><mat-chip>Tag</mat-chip>&nbsp;{{tag?.name}}</mat-list-item>
        </mat-list>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>

<ng-template #error>
  <mat-card class="mat-error">
    Information is required.
  </mat-card>
</ng-template>
