<mat-card class="mat-elevation-z3">
  <mat-card-title class="remove-button">
    <button mat-icon-button (click)="removed.emit(index)">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-title>
  <mat-card-content>
    <form [formGroup]="form">
      <section class="section">
        <mat-form-field appearance="fill">
          <mat-label>Url</mat-label>
          <input matInput (ngModelChange)="modifyVariables($event)" formControlName="url" type="text"
                 placeholder="example.com" required>
          <mat-error *ngIf="form.hasError('required', 'url')">Url is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>
          <input matInput formControlName="description" type="text" placeholder="Description">
        </mat-form-field>
      </section>

      <mat-accordion formArrayName="variables">
        <mat-expansion-panel [formGroup]="variable" *ngFor="let variable of variablesForm.controls; index as i">
          <mat-expansion-panel-header>{{variable.get('name').value}}</mat-expansion-panel-header>
          <section class="section">
            <mat-form-field appearance="fill">
              <mat-label>Default</mat-label>
              <input matInput formControlName="default" type="text" placeholder="Default value" required>
              <mat-error *ngIf="variable.get('default').invalid">Default is required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Description</mat-label>
              <input formControlName="description" matInput type="text" placeholder="Description">
            </mat-form-field>

            <mat-form-field formArrayName="enums">
              <mat-chip-list #enumList>
                <!--suppress TypeScriptUnresolvedVariable -->
                <mat-chip *ngFor="let _enum of variable.get('enums').controls; index as i" removable selectable
                          (removed)="removeEnum(i, variable.get('enums'))">
                  {{_enum.value}}
                  <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
                <input placeholder="Enums..."
                       [matChipInputFor]="enumList"
                       matChipInputAddOnBlur
                       [matChipInputSeparatorKeyCodes]="separators"
                       (matChipInputTokenEnd)="addEnum($event, variable.get('enums'))">
              </mat-chip-list>
            </mat-form-field>
          </section>
        </mat-expansion-panel>
      </mat-accordion>
    </form>
  </mat-card-content>
</mat-card>

