<mat-sidenav-container hasBackdrop="false" class="container">
  <mat-sidenav mode="over" opened [autoFocus]="false">
    <mat-nav-list class="side-nav">
      <a [routerLink]="['/editor']"
         [routerLinkActiveOptions]="{exact: true}"
         routerLinkActive="is-active"
         mat-list-item>Preview</a>
      <a [routerLink]="['/editor/info']" routerLinkActive="is-active" mat-list-item>Information</a>
      <a [routerLink]="['/editor/paths']" routerLinkActive="is-active" mat-list-item>Paths</a>
      <a [routerLink]="['/editor/servers']" routerLinkActive="is-active" mat-list-item>Servers</a>
      <a [routerLink]="['/editor/components']" routerLinkActive="is-active" mat-list-item>Components</a>
      <a [routerLink]="['/editor/security']" routerLinkActive="is-active" mat-list-item>Security</a>
      <a [routerLink]="['/editor/tags']" routerLinkActive="is-active" mat-list-item>Tags</a>
      <a [routerLink]="['/editor/external-docs']" routerLinkActive="is-active" mat-list-item>External Docs</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
