<mat-card>
  <mat-card-title>Information</mat-card-title>
</mat-card>

<form [formGroup]="infoForm" (ngSubmit)="onSubmit()" class="form-wrapper">
  <mat-card>
    <mat-card-content>
      <section class="section">
        <mat-form-field appearance="fill">
          <mat-label>Docs title</mat-label>
          <input matInput type="text" formControlName="title" placeholder="Title" required>
          <mat-error *ngIf="infoForm.get(['title']).invalid">Title is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Docs version</mat-label>
          <input matInput type="text" formControlName="version" placeholder="1.0.0" required>
          <mat-error *ngIf="infoForm.get(['version']).invalid">Version is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>
          <input matInput type="text" formControlName="description" placeholder="Description">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Terms of Service</mat-label>
          <input matInput type="text" formControlName="termsOfService" placeholder="Terms of Service">
        </mat-form-field>
      </section>
    </mat-card-content>
  </mat-card>

  <mat-accordion multi class="section">
    <mat-expansion-panel #contact [expanded]="info?.contact?.email">
      <mat-expansion-panel-header>
        <mat-panel-title><span>Contact <span class="mat-caption">(optional)</span></span></mat-panel-title>
        <mat-panel-description>Contact data</mat-panel-description>
      </mat-expansion-panel-header>

      <section class="section" formGroupName="contact">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput type="text" formControlName="email" placeholder="example@mail.com"
                 [required]="contactReq">
          <mat-error *ngIf="infoForm.hasError( 'required',['contact', 'email'])">Email is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput type="text" formControlName="name" placeholder="Your name">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Url</mat-label>
          <input matInput type="text" formControlName="url" placeholder="http://example.com">
        </mat-form-field>
      </section>
    </mat-expansion-panel>

    <mat-expansion-panel #license [expanded]="info?.license?.name">
      <mat-expansion-panel-header>
        <mat-panel-title><span>License <span class="mat-caption">(optional)</span></span></mat-panel-title>
        <mat-panel-description> License data</mat-panel-description>
      </mat-expansion-panel-header>

      <section class="section" formGroupName="license">
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput type="text" formControlName="name" placeholder="Name" [required]="licenseReq">
          <mat-error *ngIf="infoForm.hasError( 'required',['license', 'name'])">Name is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Url</mat-label>
          <input matInput type="text" formControlName="url" placeholder="http://example.com">
        </mat-form-field>
      </section>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="section">
    <button style="width: 100%;" type="submit" mat-raised-button>Save</button>
  </div>
</form>
